---
controller:
  ingressClassResource:
    name: external-nginx
  service:
    type: NodePort
    nodePorts:
      http: 30080
      https: 30443
  hostPort:
    enabled: true
    ports:
      http: 80
      https: 443
  nodeSelector:
    aws-workloads: enabled
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: aws-workloads
            operator: In
            values:
            - enabled
