---
- name: Install Calico CNI
  hosts: master1
  become: true
  gather_facts: true
  vars_files:
    - ../vars/main.yml

  tasks:
    - name: Apply Calico CNI manifest
      shell: |
        kubectl apply -f https://docs.projectcalico.org/manifests/calico.yaml
      environment:
        KUBECONFIG: "{{ kubeconfig_path }}"
      register: calico_apply

    - name: Display Calico installation output
      debug:
        var: calico_apply.stdout_lines

 
